{% assign _bt = site.data.publication_types[include.item.type] %}{% assign entry_type = _bt.bibtex | default: 'misc' %}{% assign venue_field = _bt.bibtex_venue | default: 'howpublished' %}{% if include.item.author %}{% assign _first_contributor = include.item.author | split: ' and ' | first %}{% elsif include.item.editor %}{% assign _first_contributor = include.item.editor | split: ' and ' | first %}{% else %}{% assign _first_contributor = 'Rodighiero' %}{% endif %}{% assign _key_name = _first_contributor | split: ' ' | last | downcase %}{% assign _key_slug = include.item.slug | split: '-' | first %}<pre class="bibtex-data" hidden>@{{ entry_type }}&#123;{{ _key_name }}{{ include.item.year }}{{ _key_slug }},
{% if include.item.author %}  author      = &#123;{{ include.item.author }}&#125;,
{% endif %}{% if include.item.editor %}  editor      = &#123;{{ include.item.editor }}&#125;,
{% endif %}{% if include.item.translator %}  translator  = &#123;{{ include.item.translator }}&#125;,
{% endif %}  title       = &#123;{{ include.item.title }}&#125;,
  {{ venue_field | strip | append: '            ' | slice: 0, 12 }}= &#123;{{ include.item.venue }}&#125;,
{% if include.item.place %}  address     = &#123;{{ include.item.place }}&#125;,
{% endif %}  year        = &#123;{{ include.item.year }}&#125;{% if include.item.volume %},
  volume      = &#123;{{ include.item.volume }}&#125;{% endif %}{% if include.item.issue %},
  number      = &#123;{{ include.item.issue }}&#125;{% endif %}{% if include.item.pages %},
  pages       = &#123;{{ include.item.pages }}&#125;{% endif %}{% if include.item.isbn %},
  isbn        = &#123;{{ include.item.isbn }}&#125;{% endif %}{% if include.item.doi contains 'doi.org/' %},
  doi         = &#123;{{ include.item.doi | remove: 'https://doi.org/' | remove: 'http://doi.org/' }}&#125;{% elsif include.item.doi %},
  url         = &#123;{{ include.item.doi }}&#125;{% endif %}
&#125;</pre>
