{% include site-scheme.html %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="author" content="Dario Rodighiero">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">
<meta name="color-scheme" content="light dark">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
<meta property="og:site_name" content="{{ site.title }}">
<meta name="twitter:card" content="summary_large_image">
<!-- Dublin Core -->
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">
<link rel="icon" href="/images/@icons/favicon.ico" sizes="any">
<link rel="icon" href="/images/@icons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/images/@icons/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
